body
{
font-family:tahoma;
background-color:black;
scrollbar-3dlight-color:brown; 
scrollbar-arrow-color:red;
scrollbar-base-color:brown;
scrollbar-darkshadow-color range;
scrollbar-face-color:black;
scrollbar-highlight-color:gray;
scrollbar-shadow-color:brown
}

th
{
font-decoration:bold;
font-family:tahoma;
font-size:11px;
}

td
{
font-decoration:none;
font-family:tahoma;
font-size:10px;
}

a:hover
{
color : red; 
text-decoration : underline;
font-family:tahoma;
}

p,ul,ol
{
color:white;
font-family:tahoma;
font-size:11px;
}

a
{
text-decoration : none;
color:yellow;
font-family:tahoma;
}

h1
{
font-family:tahoma;
color:red;
font-size:14px;
}

h2
{
font-family:tahoma;
color:red;
font-size:12px;
}

h3
{
font-family:tahoma;
color:red;
font-size:12px;
}